* {
  font-family: 'Asap', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, #root, #main, .fullHeight{
  height: 100%;
}
html {
  font-size: 12px;
}


@media screen and (min-width: 350px) {
  html {
    font-size: 14px;
  }
}


@media screen and (min-width: 425px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 600px) {
  html {
    font-size: 18px;
  }
}


@media screen and (min-width: 900px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 24px;
  }
}




/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */