#home {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3d3d3f;
  }
  #home .head {
    margin-bottom: 2rem;
  }

.homeOptions {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex-grow: 1;
}
.homeOptions div {
  width: 100%;
  flex-grow: 1;

}
.homeOptions button {
    width: 80%;
    max-width: 800px;
    height: 60%;
    padding: auto 1rem;
    border: 0.3rem solid #E0E0E0;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: #3d3d3f;
    transition: all 0.15s;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  .homeOptions button:hover {
    border-color: #7dce94;
  }

  .homeOptions div {
      flex-grow: 1;
      flex-shrink: 1;
  }

  #logOut {
    padding: 0;
    font-size: 1rem;
    font-weight: 500;

  }
  .userInfo {
    margin: 0 auto 1rem auto;
    text-align: center;
  }