#offerList {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3d3d3f;
    max-width: 720px;
    margin:  auto;
  }

  .offersContainer {
    flex-grow: 1;
    flex-shrink: 1;
  }
  .offersContainer div {
    height: 100%;
  }
  .offer div {
    height: auto;
  }

.images {
  margin: 0 auto;
}
.offer{
  display: flex;
  align-content: space-between;
  flex-direction: column;
}
.notButtons {
  flex-grow:1;
}

.offerBottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.offerInfo {
  flex-grow: 1;
}

.offerMid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}
.offerRight {
  flex-shrink: 1;
  width: 33.333vw;
  max-width: 240px;
  flex-wrap: wrap;
  text-align: right;
  margin: 0 0.75rem;
}
.offerLeft {
  font-size: 0.75rem;
  margin: 0 0.75rem;
}
.offerLeft h2 {
  font-size: 1rem;
  margin-top: 0.375rem;
}
p.offerDetails{
  margin: 0.5rem 0.75rem 3.5rem 0.75rem;
}
.offerButtons {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 720px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.offerButtons button {
  padding: 0;
  margin: 0;
}
.heart, .offerNext{
  height: 3rem;
  width: 3.5rem;
}
.heart:hover{
  stroke-width: 0.25rem;
}
.offerNext:hover {
  stroke: #3d3d3f
}
.offerNext{
  stroke: #E0E0E0;
}
.offerButtons button {
  border: none;
}

